<!-- Button trigger modal -->
<button id="newQuestionModalButton" type="button" class="btn btn-default" data-toggle="modal" data-target="#newQuestionModal">
  Ask a Question
</button>

<!-- Modal -->
<div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog" aria-labelledby="newQuestionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newQuestionModalLabel">Ask a Question</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="author">Your Name</label>
            {{input class="form-control" value=author id="author" maxlength="50"}}
            <p class="text-muted"><small>Max 50 Characters</small></p>
          </div>
          <div class="form-group">
            <label for="query">Question</label>
            {{input class="form-control" value=query id="query" maxlength="100"}}
            <p class="text-muted"><small>Max 100 Characters</small></p>
          </div>
          <div class="form-group">
            <label for="notes">Further Details</label>
            {{textarea class="form-control" rows=5 value=notes id="notes"}}
            <p class="text-muted"><small>Unlimited Characters. Go Nuts.</small></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default"data-dismiss="modal" {{action 'saveQuestion' question}}>Ask</button>
      </div>
    </div>
  </div>
</div>
