<div class="col-sm-4">
  <div class="well">
    {{#link-to 'question' question.id}}
    <h4>{{question.author}}</h4>
    {{/link-to}}
    <p>{{question.query}}</p>
    <button {{action 'delete' question}}>Delete</button>
  </div>  
</div>
