/* ID Selectors */

#newQuestionModalButton {
  margin: 1.2em;
  background: #0a431c;
  color: #FFF;
}


/* Core Styles */

header h1,
header h3 {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .8);
}

a, a:visited, a:hover, a:link, a:active {
  text-decoration: none;
}

header h3 {
  font-size: 1.6em;
}

img {
  max-width: 100%;
  margin: 10px 0 10px 0;
  border-radius: 1%;
}

/* Main Styles */

.mainHeader {
  padding: 20px;
  height: 150px;
  margin-bottom: 10px;
  background: linear-gradient(#1D2120, transparent 50%),
              linear-gradient(0deg, #5A5C51, transparent),
              #795548 url('/assets/images/mtn-landscape-1.jpg') no-repeat center;
  background-size: cover;
}

.container {
  font-family: 'Titillium Web', sans-serif;
}

.answerTile {
  border: .1em solid #0a431c;
  margin-bottom: 1em;
  padding: .5em;
  box-shadow: 4px 8px 15px -8px rgba(0,0,0,0.75);
  border-radius: .4em .4em .4em .4em;
}

/*.detailWell {
  min-height: 175px;
}*/

.mainSection,
.mainFooter {
  text-align: center;
}

.pageHead,
.mainSection {
    margin-top: 25px;
}

.deleteQuestion {
  margin: .5em;
}

.bottomSpacer {
  height: 200px;
}

.mainFooter {
  font-size: .75em;
  width: 100%;
  margin-top: 5%;
  padding-top: 50px;
  height: 100px;
  border-bottom: solid 15px #0a431c;
  bottom: 0;
}

.questionWell {
  padding: 1.5em;
}

.genius {
  font-weight: bold !important;
}

/* Floated Images */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */
