<div class="mainSection">
  <h3>Welcome to the Question Zone!<br>
  <small>The McElroy Brothers from MBMBAM as the Characters from the Adventure Zone</small></h3>
  <h5><small>(This is Potentially Too Niche and Concepty for a Code Review)</small></h5>

  {{new-question saveQuestion="saveQuestion"}}
</div>

<div class="row">
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
</div>


<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <img class="img img-responsive" src="/assets/images/adventure.png" alt="The Adventure Zone Cast" />
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="bottomSpacer">
</div>
