<h3>Welcome to the Question Zone!<br>
<small>Better Than the McElroy Brothers on MBMBAM</small></h3>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <img class="img img-responsive" src="/assets/images/adventure.png" alt="The Adventure Zone Cast" />
  </div>
  <div class="col-md-3">
  </div>
</div>
<div class="bottomSpacer">

</div>
