<div class="mainSection">
  <h3>Questions and Answers</h3>
  <hr>
</div>

{{question-detail question=model update="update" destroyQuestion="destroyQuestion" saveAnswer="saveAnswer" answer=model}}



<div class="bottomSpacer"></div>
