
<div class="well">
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{update-question question=model update="update"}}
</div>


<div class="bottomSpacer"></div>
<div class="bottomSpacer"></div>
